<!doctype html>
<html>
<head>
    <title>Home Page - Backend1</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="~/Styles/style.css" />
  
</head>
<body>

    <header>
        <div class="logo">Backend1</div>
        <a href="~/"><div class="home-link">Home</div></a>
    </header>

    <div class="content">
        <h2> Calc Service Demonstration  </h2>
        <ul>
            <li><a href="~/calc/modelcalc"> Using Model Calc </a></li>
            <li><a href="~/calc/viewdatacalc">Using ViewData Calc</a></li>
            <li><a href="~/calc/viewbagcalc">Using ViewBag Calc</a></li>
            <li><a href="~/calc/servicecalc">Using Service Injection Calc</a></li>
        </ul>
    </div>
    <footer>© 2022 - Backend1</footer>
</body>
</html>